@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;600&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

/* Header */

* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #2A2F4A;
    color: white;
    min-height: 90vh;
}

.headerNav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.forty, .menu {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.forty {
    letter-spacing: .2rem;
    font-family: 'Playfair Display', serif;
}

.menu {
    font-family: 'Montserrat', sans-serif;
}

.Searchdiv {
    padding-left: 3%;
    margin-top: 10%;
}

.Searchdiv h1 {
    font-size: 7rem;
    font-family: 'Playfair Display', serif;
}

.Searchdiv p {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10rem;
}

.Searchdiv [type=text] {
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    display: inline-block;
    margin-right: 2.5rem;
}

#search {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: none;
    background: #6FC3DF;
    color: #2A2F4A;
    font-size: 1rem;
    font-weight: bold;
}

.Searchdiv [type=text]:focus, #search:focus {
    outline: none;
}

.removImg {
    background: url(../src/assets/img/removebg-preview1.png) center / cover no-repeat;
    height: 15vh;
    width: 5vh;
    margin: 5rem auto;
}

/*  ////////////////////////  */

.MainSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60vh 60vh 60vh;
}

.Ginlink, .Vodkalink, .Rumlink, .Scotchlink, .Nonlink, .Randomlink {
    display: flex;
    padding-left: 5rem;
    align-items: center;
    text-decoration: none;
    font-size: 55px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    transition: background-color 1s ease;
}

.Ginlink, .style1 {
    background-color: #6FC3DF;
}

.Vodkalink, .style2 {
    background-color: #8D82C4;
}

.Rumlink, .style3 {
    background-color: #EC8D81;
}

.Scotchlink, .style4 {
    background-color: #E7B788;
}

.Nonlink, .style5 {
    background-color: #8EA9E8;
}

.Randomlink, .style6 {
    background-color: #87C5A4;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* .outer {
    padding-left: 5rem;
    writing-mode: tb-rl;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    transform: rotate(180deg);
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
} */

.DrinkCard img {
    max-height: 50vh;
    /* width: 100%; */
    object-fit: contain;
}

/* .left {
    display: flex;
    flex-direction: column-reverse;
}

.right {
    display: flex;
    flex-direction: column;
} */








/* Footer Style */

#footer {
    background: #2A2F4A;
    color: #FFFFFF;
    min-height: 45vh;
    padding-top: 8%;
    padding-left: 7.5%;
    min-height: 50vh;
}

#footer h1 {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
}

#footer p {
    width: 90%;
    margin-top: 2.5%;
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
}