/* Footer Style */
#footer {
    background: #2A2F4A;
    color: #FFFFFF;
    min-height: 45vh;
    padding-top: 2%;
    padding-left: 7.5%;

}
#footer h1{
    font-size: 5em;
}
#footer p {
    margin-top: 2.5%;
    font-size: 1.7em;
}