@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;600&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

/* Header */

* {
    padding: 0;
    margin: 0;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
}

#root {
    width: 100%;
}

a {
    cursor: pointer;
}

.header {
    background-color: #2A2F4A;
    color: white;
    border: 1px solid #2A2F4A;
    position: relative;
    z-index: 998;
}

.forty, .menu {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.forty {
    letter-spacing: .2rem;
    font-family: 'Playfair Display', serif;
    margin-left: 3rem;
}

.Searchdiv {
    padding-left: 3rem;
    margin-top: 6.5%;
}

.Searchdiv h1 {
    font-size: 7rem;
    font-family: 'Playfair Display', serif;
}

.Searchdiv p {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 7rem;
}

.Searchdiv [type=text] {
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    display: inline-block;
    margin-right: 2.5rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    cursor: auto;
}

#search {
    padding: 1rem 3rem;
    border-radius: .5rem;
    border: none;
    background: #6FC3DF;
    color: #2A2F4A;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#search:active {
    box-shadow: inset 0px 0px 15px 0px #2A2F4A;
}

.Searchdiv [type=text]:focus, #search:focus {
    outline: none;
}

.iconBox {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    animation: upDown 3s ease-out 3;
    margin-bottom: 5rem;
}

/*  ////////////////////////  */

.MainSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Ginlink, .Vodkalink, .Rumlink, .Scotchlink, .Nonlink, .Randomlink {
    display: flex;
    padding: 15rem 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 5rem;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

/* .DrinkCard {
    display: flex;
    justify-content: space-evenly;
    
} */


.Ginlink, .DrinkCard:nth-child(6n+1) {
    background-color: #6FC3DF;
}

.Vodkalink, .DrinkCard:nth-child(6n+2) {
    background-color: #8D82C4;
}

.Rumlink, .DrinkCard:nth-child(6n+3) {
    background-color: #EC8D81;
}

.Scotchlink, .DrinkCard:nth-child(6n+4) {
    background-color: #E7B788;
}

.Nonlink, .DrinkCard:nth-child(6n+5) {
    background-color: #8EA9E8;
}

.Randomlink, .DrinkCard:nth-child(6n+6) {
    background-color: #87C5A4;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.DrinkCardDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.DrinkCardDiv img {
    cursor: pointer;
}

.outer {
    /* padding-left: 2rem; */
    writing-mode: tb-rl;
    display: flex;
    align-items: center;
    
}

.inner {
    transform: rotate(180deg);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    height: 32rem;
    /* padding-right: 3rem; */
}

.DrinkCard:nth-child(2n) .DrinkCardDiv {
    flex-direction: row-reverse;
}

.DrinkCard:nth-child(2n) .DrinkCardDiv p {
    /* padding-left: 5rem; */
}

.DrinkCard img {
    max-height: 45vh;
    object-fit: contain;
    padding: 4rem;
}

/* Modal Style */

.box {
    width: 59.375rem;
    height: 31.25rem;
    background: #2A2F4A;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 10% auto;
    z-index: 999;
    display: flex;
    justify-content: center;
    box-shadow: 0px 15px 30px 0px #2a2f4aba;
}

.visibleMobile {
    display: none;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.boxFlex {
    display: flex;
}

.zutatenImg {
    width: 50%;
    display: flex;
    padding: 0 3rem;
}

.zutatenImg img {
    width: 100%;
    object-fit: contain;
}

.zutaten {
    width: 50%;
    color: white;
    align-self: center;
}

.zutaten h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    align-self: center;
    margin-bottom: 2rem;
}

.zutaten h3 {
    margin-bottom: 1rem;
}

.zutaten ul {
    list-style-type: none;
}

.zutaten p {
    margin-top: 2rem;
    line-height: 1.4rem;
    width: 90%;
}

.closebox {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Footer Style */

#footer {
    background: #2A2F4A;
    color: #FFFFFF;
    padding: 8% 8% 8%;
}

#footer h1 {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
}

#footer p {
    width: 90%;
    margin-top: 2.5%;
    font-size: 1.7em;
}

/* Animationen */

.fadeIn {
    animation: fade-in 2s ease-in-out .5s both;
}

.fadeIn2 {
    animation: fade-in 1s ease-in-out both;
}

@keyframes fade-in {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 1024px) {
    .Ginlink, .Vodkalink, .Rumlink, .Scotchlink, .Nonlink, .Randomlink {
        font-size: 3rem;
        padding: 8rem 0;
    }

    .DrinkCard img {
        max-height: 39vh;
        padding: 0;
    }
}


@media only screen and (max-width: 768px) {

    .Searchdiv h1 {
        font-size: 6rem;
    }

    .Searchdiv p {
        font-size: 1rem;
    }
    .MainSection, .gridContainer {
        grid-template-columns: 1fr;
    }

    .DrinkCard img {
        max-height: 45vh;
        padding: 0;
    }

    /* .GinSeite .gridContainer .DrinkCard:nth-of-type(1) .DrinkCardDiv .inner{
        font-size: 1.5rem;
    }  */

    .iconBox {
        margin-bottom: 2rem;
    }

    #footer h1 {
        font-size: 2.5rem;
    }   

    #footer p {
        font-size: 1rem;
    }

    .box {
        width: 45.375rem;
        height: 33.25rem;
    }

    .boxFlex h2 {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 480px) {
    .header {
        width: 100%;
    }
    .MainSection, .gridContainer {
        grid-template-columns: 1fr;
    }
    .Ginlink, .Vodkalink, .Rumlink, .Scotchlink, .Nonlink, .Randomlink {
        font-size: 3rem;
        justify-content: center;
        padding: 7rem 0;
    }
    .forty {
        font-size: 1.75rem;
    }
    .Searchdiv {
        padding-left: 10%;
    }
    .Searchdiv h1 {
        font-size: 4rem;
    }
    .Searchdiv p {
        font-size: 1rem;
        width: 80%;
        line-height: 1.4rem;
        margin-bottom: 3rem;
    }
    .Searchdiv [type=text] {
        margin-right: 1.5rem;
        font-size: 1rem;
    }
    #search {
        padding: .5rem 1rem;
        font-size: 1rem;
        height: 3.15rem;
    }
    form {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    .iconBox {
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    .DrinkCard img {
        max-height: 29vh;
        padding: 2rem;
    }
    .inner {
        font-size: 1.5rem;
        height: 14rem;
        
    }
    /* .DrinkCard:nth-child(2n) .DrinkCardDiv p {
        padding-left: 2rem;
    } */
    .box {
        width: 400px;
        height: 92vh;   

    }
    .visibleMobile {
        display: block;
        text-align: center;
        padding-top: 2rem;
    }

    .visibleDesktop {
        display: none;
    }
    .boxFlex {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .zutatenImg {
        padding: 0;
        width: 100%;

    }

    .zutatenImg img {
        width: 100%;
        padding: 1rem 2rem;
        box-sizing: border-box;
    }

    .zutaten {
        width: 80%;
    }

    .zutaten p {
        line-height: normal;
    }


    #footer h1 {
        font-size: 2rem;
    }
    #footer p {
        width: 80%;
        font-size: 1rem;
    }
}